<img src="https://cekumagroup.cas.lehigh.edu/sites/cekumagroup.cas2.lehigh.edu/files/image10.jpg "/>

# About the dataset 

*SFO Public Department, referred to as SFO, has captured the salary data of all its employees for the years 2011-2014. 
*Now in 2018, the organization is facing some financial crisis. 
*As a first step, HR wants to rationalize employee cost to save payroll budget. 
*You have to perform data manipulation and answer the questions below:
    
# Data Manipulation Tasks:
* How much total salary cost has increased from year 2011 to 2014?
* Who was the top-earning employee across all the years? Objective: Perform data manipulation and visualization techniques.
**Happy reading!**

* * *

## Import the necessary libraries

In [1]:
# Import libraries
import numpy as np
import pandas as pd
from plotly.offline import iplot
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load the dataset
df = pd.read_csv('Salaries.csv', delimiter= ',', index_col = 0,low_memory=False)

# Shape of Dataset
print(df.shape)

(148648, 12)

In [3]:
# View the first 5 header lines
print(df.head())

         EmployeeName                                        JobTitle  \
Id
1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

      BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
Id
1   167411.18         0.00  400184.25       NaN  567595.43         567595.43
2   155966.02    245131.88  137811.38       NaN  538909.28         538909.28
3   212739.13    106088.18   16452.60       NaN  335279.91         335279.91
4    77916.00     56120.71  198306.90       NaN  332343.61         332343.61
5   134401.60      9737.00  182234.59       NaN  326373.19         326373.19

    Year  Notes         Agency Status
Id
1   2011    NaN  San Francisco    NaN
2   2011    NaN  San Francisco    NaN
3   2011    NaN  San Francisco    NaN
4   2011    NaN  San Francisco    NaN
5   2011    NaN  San Francisco    NaN

In [4]:
# Get more information about the data
print(df.info)

<bound method DataFrame.info of              EmployeeName                                        JobTitle  \
Id
1          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
2            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
3          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
4       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
5         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148646   Carolyn A Wilson                       Human Services Technician
148648     Joann Anderson                     Communications Dispatcher 2
148649        Leon Walker                                       Custodian
148650      Roy I Tillery                                       Custodian
148654          Joe Lopez                      Counselor, Log Cabin Ranch

          BasePay  OvertimePay   OtherPay  Benefits   TotalPay  \
Id
1       167411.18         0.00  400184.25       NaN  567595.43
2       155966.02    245131.88  137811.38       NaN  538909.28
3       212739.13    106088.18   16452.60       NaN  335279.91
4        77916.00     56120.71  198306.90       NaN  332343.61
5       134401.60      9737.00  182234.59       NaN  326373.19
...           ...          ...        ...       ...        ...
148646       0.00         0.00       0.00       0.0       0.00
148648       0.00         0.00       0.00       0.0       0.00
148649       0.00         0.00       0.00       0.0       0.00
148650       0.00         0.00       0.00       0.0       0.00
148654       0.00         0.00    -618.13       0.0    -618.13

        TotalPayBenefits  Year  Notes         Agency Status
Id
1              567595.43  2011    NaN  San Francisco    NaN
2              538909.28  2011    NaN  San Francisco    NaN
3              335279.91  2011    NaN  San Francisco    NaN
4              332343.61  2011    NaN  San Francisco    NaN
5              326373.19  2011    NaN  San Francisco    NaN
...                  ...   ...    ...            ...    ...
148646              0.00  2014    NaN  San Francisco     PT
148648              0.00  2014    NaN  San Francisco     PT
148649              0.00  2014    NaN  San Francisco     PT
148650              0.00  2014    NaN  San Francisco     PT
148654           -618.13  2014    NaN  San Francisco     PT

[148648 rows x 12 columns]>

In [5]:
# Get statistical summary of dataset
print(df.describe())

             BasePay    OvertimePay       OtherPay       Benefits  \
count  148043.000000  148648.000000  148648.000000  112490.000000
mean    66325.398119    5065.821161    3648.761721   25007.777439
std     42764.898947   11454.266982    8056.655841   15402.235424
min      -166.010000      -0.010000   -7058.590000     -33.890000
25%     33587.350000       0.000000       0.000000   11535.192500
50%     65007.450000       0.000000     811.205000   28628.365000
75%     94691.050000    4657.597500    4236.035000   35566.790000
max    319275.010000  245131.880000  400184.250000   96570.660000

            TotalPay  TotalPayBenefits           Year  Notes
count  148648.000000     148648.000000  148648.000000    0.0
mean    74770.035453      93694.776345    2012.522617    NaN
std     50516.440633      62792.743250       1.117526    NaN
min      -618.130000       -618.130000    2011.000000    NaN
25%     36169.370000      44072.062500    2012.000000    NaN
50%     71427.130000      92406.020000    2013.000000    NaN
75%    105840.920000     132876.997500    2014.000000    NaN
max    567595.430000     567595.430000    2014.000000    NaN

## Perform the data analysis

In [6]:
# Compute total pay benefits in each of the years 

year = df.groupby('Year').sum()['TotalPayBenefits']
print(year)

Year
2011    2.594113e+09
2012    3.696790e+09
2013    3.814772e+09
2014    3.821866e+09
Name: TotalPayBenefits, dtype: float64

In [7]:
# Compute how much total benefits has increased from 2011 to 2014
grouped_df_cost = df.groupby(["Year"]).agg("sum").filter(["Year", "TotalPayBenefits"])
#print(grouped_df_cost.head())

total_salary_2011 = grouped_df_cost.query("Year == 2011")["TotalPayBenefits"]
total_salary_2014 = grouped_df_cost.query("Year == 2014")["TotalPayBenefits"]

salary_change_2011_2014 = float(total_salary_2014) - float(total_salary_2011)

print('Total cost of paying for all the benefits has increased by '+ str(salary_change_2011_2014)+' between 2011 and 2014')

Total cost of paying for all the benefits has increased by 1227752749.88 between 2011 and 2014

In [8]:
# Compute how much total salary has increased from 2011 to 2014
grouped_df_cost = df.groupby(["Year"]).agg("sum").filter(["Year", "TotalPay"])
total_salary_2011 = grouped_df_cost.query("Year == 2011")["TotalPay"]
total_salary_2014 = grouped_df_cost.query("Year == 2014")["TotalPay"]

salary_change_2011_2014 = float(total_salary_2014) - float(total_salary_2011)

print('Total cost of paying for salary has increased by '+ str(salary_change_2011_2014)+' between 2011 and 2014')

Total cost of paying for salary has increased by 282797920.54000044 between 2011 and 2014

In [9]:
# Define a function to determine the job profile with highest salary in any given year
def highpayingjob(year = None,nvalue = None):
    highpay=df[df['Year'] == year]
    jobtitle_with_highpay = highpay.groupby('JobTitle').mean()['TotalPayBenefits']
    print('===============================================')
    print('The job with highest average salary in '+ str(year) +' is\n',
          jobtitle_with_highpay.sort_values(ascending=False).head(nvalue) )

In [10]:
highpayingjob(2011,5) #If you set ascending = True, you'll get the jobs with the lowest pay

===============================================
The job with highest average salary in 2011 is
 JobTitle
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275
DEPUTY DIRECTOR OF INVESTMENTS                    307899.460
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)            302377.730
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)      279359.560
EXECUTIVE CONTRACT EMPLOYEE                       277438.840
Name: TotalPayBenefits, dtype: float64

In [11]:
# Define a function to calculate the cost of overtime in any given year
def overtimecost(year = None):
    overtime = df[df['Year'] == year]
    overtime_cost = overtime['OvertimePay'].sum()
#    print(overtime_cost)
    print('=============================================================='+ '\n'+
          " Total amount spent in overtime in "+ str(year) +' is',overtime_cost)
    print('==============================================================')

In [12]:
overtimecost(2014)

==============================================================
 Total amount spent in overtime in 2014 is 205918599.26999998
==============================================================

In [13]:
# Top earning employees across all years
top_earning = df.groupby('EmployeeName').sum()['TotalPayBenefits']
print(" Top 10 highest earning employees across all years: \n", top_earning.sort_values(ascending= False).head(10))

 Top 10 highest earning employees across all years:
 EmployeeName
Kevin Lee        1778487.17
Steven Lee       1706550.76
William Wong     1459954.17
Stanley Lee      1457279.68
Richard Lee      1268668.84
John L Martin    1054756.22
Wayne Wong       1021109.55
Alan Wong        1011610.58
John Chan         946239.26
Michael Brown     907786.48
Name: TotalPayBenefits, dtype: float64

In [14]:
#Define a function to calculate the common jobs in any of the years
def commonjobs(year = None,nvalue = None):
    df_year = df[df['Year'] == year]
    common_jobs = df_year['JobTitle'].value_counts()
#    print(common_jobs.head(nvalue))
    print('============================'+ '\n'+
          " Common jobs in "+ str(year) +'\n'+
          '============================'+ '\n',
          common_jobs.sort_values(ascending= False).head(nvalue))

In [15]:
commonjobs(2014,5)

============================
 Common jobs in 2014
============================
 Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64